<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{~/styles/footer.css}">
</head>
<body>
<footer class="footer">
    <div class="container">
        <div class="row">
            <ul class="footer_nav">
                <li>
                    <p class="footer-title">Thông tin</p>
                    <p class="footer-item"><a>Về CirCus Decor</a></p>
                    <p class="footer-item"><a>Khuyến mãi</a></p>
                    <p class="footer-item"><a>Mẹo|Bài viết</a></p>
                    <p class="footer-item"><a>Tuyển dụng</a></p>
                    <p class="footer-item"><a>Liên hệ</a></p>
                </li>
                <li>
                    <p class="footer-title">Hỗ trợ</p>
                    <p class="footer-item"><a>Các câu hỏi</a></p>
                    <p class="footer-item"><a>Chính sách bảo mật</a></p>
                    <p class="footer-item"><a>Hướng dẫn mua hàng</a></p>
                    <p class="footer-item"><a>Hướng dẫn thanh toán</a></p>
                    <p class="footer-item"><a>Đổi trả và bảo hành</a></p>
                </li>
                <li>
                    <p class="footer-title">Sản phẩm</p>
                    <p class="footer-item"><a>Vật dụng Decor</a></p>
                    <p class="footer-item"><a>Đồ trang trí nội thất</a></p>
                    <p class="footer-item"><a>Vật dụng gia dụng</a></p>
                    <p class="footer-item"><a>Vải, thảm trang trí</a></p>
                    <p class="footer-item"><a>Trang trí nội thất</a></p>
                </li>
                <li>
                    <p class="footer-title">Về CirCus</p>
                    <p class="footer-item">CirCus - bán vật dụng trang trí, làm đẹp cho ngôi nhà thân yêu, quán cafe ước mơ, shop thời trang, homestay, hotel.. theo phong cách cổ xưa, vintage</p>
                    <p class="footer-item">
                        <i class="fa-solid fa-location-dot"></i>
                        Cầu Giấy - Hà Nội</p>
                    <p class="footer-item">
                        <i class="fa-solid fa-phone"></i>
                        Phone: 0123456789</p>
                </li>
            </ul>
            <!--            <div class="col-lg-6">-->
            <!--                <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">-->
            <!--                    <ul>-->
            <!--                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>-->
            <!--                        <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>-->
            <!--                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>-->
            <!--                        <li><a href="#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>-->
            <!--                        <li><a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>-->
            <!--                    </ul>-->
            <!--                </div>-->
            <!--            </div>-->
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="footer_nav_container">
                    <div class="cr">©2024 CirCus Decor. All Rights Reserverd.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>