<header class="header trans_300" th:fragment="header(username)" >
    <!-- Main Navigation -->

    <div class="main_nav_container sticky-top">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between">
                <div class="logo_container">
                    <a href="/">Cir<span>cus</span></a>
                </div>
                <div class="search-form">
                    <form th:action="@{/home}" class="form-inline my-2 my-lg-0" method="get">
                        <input class="form-control" type="search" placeholder="Search" aria-label="Search"
                               name="keyword" id="keyword">
                        <button id="search-button" class="btn my-2 my-sm-0" type="submit"><i class="fa fa-search"
                                                                                             aria-hidden="true"></i>
                        </button>
                    </form>
                </div>
                <nav class="navbar">
                    <ul class="navbar_menu">
                        <li><a th:href="@{/}">Trang chủ</a></li>
                        <!--                        <li><a th:href="@{/shopping/shop}">Sản phẩm</a></li>-->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Sản phẩm
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" th:href="@{category/1}">VẬT DỤNG DECOR</a>
                                    <a th:href="@{category/2}" class="items">Điện thoại cổ</a>
                                    <a th:href="@{category/6}">Đồng hồ để bàn</a>
                                    <a th:href="@{category/5}">Đồng hồ treo tường</a>
                                    <a th:href="@{category/7}">Hộp tủ, vali trang trí</a>
                                    <a th:href="@{category/3}">Kệ, giá đỡ trang trí</a>
                                    <a th:href="@{category/4}">Đèn trang trí</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{category/8}">ĐỒ TRANG TRÍ NỘI THẤT</a>
                                    <a th:href="@{category/9}">Bình hoa cắm sẵn</a>
                                    <a th:href="@{category/10}">Đồ vật trang trí</a>
                                    <a th:href="@{category/11}">Sách giả cổ</a>
                                    <a th:href="@{category/12}">Bình hoa, gốm sứ</a>
                                    <a th:href="@{category/13}">Khung ảnh vintage</a>
                                    <a th:href="@{category/14}">Tranh treo tường</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{category/15}">VẬT DỤNG GIA DỤNG</a>
                                    <a th:href="@{category/16}">Đèn ngủ cao cấp</a>
                                    <a th:href="@{category/17}">Gạt tàn thuốc</a>
                                    <a th:href="@{category/18}">Hộp khăn giấy</a>
                                    <a th:href="@{category/19}">Móc treo trang trí</a>
                                    <a th:href="@{category/20}">Vật dụng nhà bếp</a>
                                    <a th:href="@{category/21}">Vật dụng nhà tắm</a>
                                </li>
                                <li><a class="dropdown-item" th:href="@{category/22}">VẢI, THẢM TRANG TRÍ</a>
                                    <a th:href="@{category/23}">Chăn ga gối</a>
                                    <a th:href="@{category/24}">Gối dựa lưng</a>
                                    <a th:href="@{category/25}">Khăn phủ sofa</a>
                                    <a th:href="@{category/26}">Khăn trải bàn</a>
                                    <a th:href="@{category/27}">Thảm cửa ra vào</a>
                                    <a th:href="@{category/28}">Thảm sofa</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" th:href="@{category/29}">TRANG TRÍ NỘI THẤT</a>
                                    <a th:href="@{category/30}">Trang trí quán cafe</a>
                                    <a th:href="@{category/31}">Trang trí phòng bếp</a>
                                    <a th:href="@{category/32}">Trang trí phòng khách</a>
                                    <a th:href="@{category/33}">Trang trí phòng ngủ</a>
                                    <a th:href="@{category/34}">Trang trí phòng làm việc</a>
                                </li>
                            </ul>
                        </li>
                        <li><a th:href="@{/blog}">Mẹo|Bài viết</a></li>
                        <li><a th:href="@{/introduce}">Giới thiệu</a></li>
                        <li><a th:href="@{/contact}">Liên hệ</a></li>
                    </ul>
                    <ul class="navbar_user">
                        <li th:if="${username == 'anonymousUser'}"><a th:href="@{/login}"><i class="fa fa-user" aria-hidden="true"></i></a></li>
                        <li th:if="${username != 'anonymousUser'}"><a th:href="@{/logout}"><i class="fa-solid fa-right-from-bracket"></i></a></li>
                        <li class="checkout">
                            <a th:href="@{/cart}">
                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                            </a>
                        </li>
<!--                        <li th:if="${cart.getItems != null || cart == null}" class="checkout" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasWithBothOptions">-->
<!--&lt;!&ndash;                            <a th:href="@{/cart}">&ndash;&gt;-->
<!--&lt;!&ndash;                                &ndash;&gt;-->
<!--&lt;!&ndash;                            </a>&ndash;&gt;-->
<!--                            <i class="fa fa-shopping-cart" aria-hidden="true"></i>-->
<!--                        </li>-->
<!--                        <div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel">-->
<!--                            <div class="offcanvas-header cart-title">-->
<!--                                <h5 class="offcanvas-title title" id="offcanvasWithBothOptionsLabel">-->
<!--                                    <i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</h5>-->
<!--                                <button type="button" class="btn-close btn-danger" data-bs-dismiss="offcanvas" aria-label="Close"></button>-->
<!--                            </div>-->
<!--                            <div class="cart-content">-->
<!--                                <div class="cart-item">-->
<!--                                    <div class="cart-item-image">-->
<!--                                        <img src="/image/tshirt.png" alt="item1">-->
<!--                                    </div>-->
<!--                                    <div class="cart-item-info">-->
<!--                                        <div class="cart-item-name">Đồng hồ treo tường</div>-->
<!--                                        <div class="cart-item-price">1.000.000đ</div>-->
<!--                                        <div class="cart-item-quantity">Số lượng: <span>1</span></div>-->
<!--                                    </div>-->
<!--                                </div>-->

<!--                                <a th:href="@{/cart}">Xem giỏ hàng</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </ul>
                    <!--                    <div class="hamburger_container">-->
                    <!--                        <i class="fa fa-bars" aria-hidden="true"></i>-->
                    <!--                    </div>-->
                </nav>
            </div>
        </div>
    </div>
</header>